/* category */
/* blog listing */
.blog-meta {
  margin-bottom: 10px;
}
.blog-meta > span,.blog-meta a {
    margin-right: 6px;
    color: #000000;
    position: relative;   
    font-size: 14px;
    font-weight:400;
}
.homeblog-inner .blog-meta .blog-hit {
    color: #2881E3;
    margin: 0 0 0 10px;
}
.blog-meta > span:hover,.blog-meta a:hover{color:#2881E3;}
.blog-meta > span:last-child:before {
  display: none;
}

.homeblog-inner{
	position: relative;
	float: left;
    width: 100%;
}
.homeblog-inner li.blog-post .blog-item{
	padding: 0 15px;
}
.homeblog-inner li.blog-post{padding:0;}
.homeblog-inner li .blog-item { margin-bottom: 0px; }
.blog-item {
  background-color: #fff;
  position: relative;
  margin-bottom: 50px;
  margin-top: 0; 
  font-size: 13px;
}
.blog-item .blog-content-wrap {
  background-color: #fff;
  text-align: left;
}
.blog-item .blog-content-wrap .title{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
    color: #000000;
}
.blog-item .blog-content-wrap .title a{color:#000000;}
.blog-item .blog-content-wrap .title a:hover{color:#2881E3;}

.secondary-blog .blog-item .blog-content-wrap .title {margin:10px 0;}

.ttblog-latest .blog-item .blog-meta,
.secondary-blog .blog-item .blog-meta{	 
    color: black;   
    position: relative;
    width: 100%;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.blog-item .readmore{
	padding: 10px 0 5px 0;
}
.blog-item .readmore .btn{ 
	font-size:13px;
	background:none;
	color:#000000;
	font-weight: 600;
    padding: 0;
}
.blog-item .readmore .btn:hover{
	color:#2881E3;
}

.blog-item .blog-content-wrap .readmore p {
  margin-bottom: 0;
  margin-top: 10px;
}
.blog-item .blog-content-wrap .readmore p .btn {
  border: 1px solid #e5e5e5;
  text-transform: capitalize;
  font-size: 10px;
}
.blog-item .blog-content-wrap .readmore p .btn:hover {
  border-color: #2fb5d2;
}
.blog-item .blog-content-wrap .blog-shortinfo{     
    margin: 8px 0 10px;
    color: #949494;
}
.homeblog-inner .blog-item .blog-content-wrap .blog-shortinfo{     
    margin: 10px 0 20px;
    color: #949494;
}
.blog-item .blog-content-wrap .blog-shortinfo .more {
	margin:15px 0 0;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i {
  color: #888;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i:hover {
  color: #222;
}
.blog-item .blog-image {  
  padding: 0;
  position: relative;
}
.blog-detail {
  background-color: #fff;
  margin-bottom: 120px; 
}
.blog-detail > div {
  margin-bottom: 20px;
}
.blog-detail .blog-image {
  padding-bottom: 30px;
  margin-bottom: 0;
}
.blog-detail .blog-title {
	font-size: 20px;
	color: ##2B2B30;
	text-transform: capitalize;
	margin: 10px 0;
	font-weight: 600;
}

.blog-detail .blog-description {
  font-size: 13px;  
  margin-bottom: 80px;
}
.blog-detail .social-share {
  display: inline-block;
  float: left;
}
.social-share .itemTwitterButton,
.social-share .itemFacebookButton,
.social-share .itemGooglePlusOneButton{
	margin-bottom: 10px;
}
.blog-detail .extra-blogs {
  display: inline-block;
  width: 100%;
}

.blog-detail .extra-blogs h4{
	margin-bottom:15px;
	font-weight: 600;
	color: #000;
}
.blog-detail .extra-blogs ul{
	padding-left: 25px;
}
.blog-detail .extra-blogs ul li{
	list-style: disc;
	padding: 3px 0;
}
.blog-detail .blog-tags {
  display: inline-block;
  float: right;
}
.blog-detail .blog-tags > span {
  font-weight: bold;
  font-size: 14px;
  margin-right: 15px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #e6e6e6;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap {
  margin-left: 80px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta {
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span {
  margin-right: 15px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span span {
  color: #888;
  margin-left: 10px;
  font-weight: normal;
}
.blog-detail .blog-comment-block #blog-localengine .form-group {
  margin-bottom: 20px;
}
.blog-detail .blog-comment-block .btn-send {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  min-width: 110px;
  text-align: center;
  color: #fff;
  background-color: #eee;
  font-weight: 600;
  float: right;
  border-radius: 3px;
}
.blog-detail .blog-comment-block .btn-send i {
  margin-right: 10px;
  font-weight: 800;
}
.blog-detail .blog-comment-block .btn-send:hover {
  background-color: #222;
}

.blog-comment-block h3{
	margin-bottom:15px;
	font-weight: 600;
	color: #2B2B30;
}
.blog-comment-block #comment-form{ margin-top: 30px; }
.comment-capcha-image{ margin-bottom: 10px; }
h1.blog-heading{
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
.ps-carousel { display: none; }
.Recent-title{text-transform:capitalize; margin-bottom: 20px;}
#blog-category{ margin-bottom: 30px; }
.subcategories-title{ margin-bottom: 20px; }
.category-title{ 
	padding: 15px 0 5px;
    text-transform: capitalize;    
    font-size: 15px;
}
.secondary-blog .flexRow{ 
	clear: both;
    float: left;
}
.pagination li.previous > span,
.pagination li.next > span{ width: 30px;height:30px;font-size:0;}
.pagination li span {
    height: 30px;
    width: 30px;
    line-height: 30px;    
    display: inline-block;
    vertical-align: top;
    color: #666666;
    text-align: center;
}
.pagination li.current span span, .pagination li a:hover span {
    border: none;
    background: transparent;
}
.pagination .previous,
.pagination .next {   
    line-height: 3px;
}
.pagination li.disabled:hover .material-icons{
	color:#ffffff;
}
.pagination .disabled .material-icons{
	color: #bbbbbb;
	cursor:default;
}
.product-count{
    float: left;
    margin: 3px 5px;
}
.pagination-block{
    float: right;
	margin:0;
}
#left-column #categories_blog_menu ul li,#right-column #categories_blog_menu ul li{padding:3px 0;}
#left-column #categories_blog_menu ul .level2,#right-column #categories_blog_menu ul .level2{margin-left:10px;} 
#left-column #categories_blog_menu ul .level2 li:before,#right-column #categories_blog_menu ul .level2 li:before{
    content: "-";
    margin-right: 0.3125rem;
}
#left-column #categories_blog_menu ul .level2 li:hover:before,#right-column #categories_blog_menu ul .level2 li:hover:before{
	color:#000000;
}
.secondary-blog .blog-content-wrap,.homeblog-inner .blog-content-wrap{
	
}
.homeblog-inner .blog-content-wrap {
    overflow: hidden;
    text-align: center;
    position: relative;
	padding: 20px 10px 0;
}

.blog-container .homeblog-inner-wrapper{margin:0 -15px;}
.homeblog-inner .blog_grid.row{margin:0;}
.leading-blog  .blog-content-wrap{padding:10px 0;}
.blog-meta i.material-icons {
    font-size: 15px;
	color: #666;
}
#blog-category h1{
    font-size: 22px;
    color: #000000;
    margin-bottom: 10px;
}
.pst-blogicons{
	position:absolute;
	top:42%;
	left:0;
	right:0;
	text-align:center;
}
.pst-blogicons .icon{
    background-color: #000000;
    color: #ffffff;
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height:40px;
	vertical-align: top;
	text-align: center;
	border-radius:50%;
	-webkit-border-radius:50%;
	-khtml-border-radius:50%;
	-moz-border-radius:50%;
	margin:0 4px;
	
	transform:scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
.pst-blogicons .icon:hover{
	background-color:#2881E3;
	color:#ffffff;
}
.pst-blogicons .icon .fa{
	 margin: 0;
    display: block;
    line-height: 40px;
}
.blog-item:hover .icon{
	transform:scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	
	transition: all 300ms ease;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
}
.blog-item:hover img{
	opacity:0.8;
	-khtml-opacity: 0.8;
	-webkit-opacity: 0.8;
	-moz-opacity:0.8;
}
.homeblog-inner .blog-created {
    color: #777777;
    padding: 10px 0;
    display: block;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #e6e6e6;
}
.homeblog-inner .blog-created .blog-hit {
    border-left: 1px solid #e6e6e6;
    padding: 5px 10px;
}
.homeblog-inner .blog-created time.date {
    padding: 5px 10px;
}
.homeblog-inner .blog-created time.date .fa.fa-clock-o ,.homeblog-inner .blog-created i.fa.fa-heart-o {
    margin: 0;
}
.homeblog-inner .blog-item:hover .blog-content-wrap .title a,.homeblog-inner .blog-item:hover .blog-created{
    color: #2881E3;
}
.homeblog-inner .blog-image{
	overflow:hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
}
.homeblog-inner .blog-image img{	
	  transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
}
.homeblog-inner li.blog-post .blog-item:hover img{
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
.homeblog-inner .blog-meta {
	position:relative;
}
.pagination li span span{
    height: 30px;
    margin: 0;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    background: transparent;
    border: none;
    display: block;
    font-weight: normal; 
}
.blog-container{
	clear:both;
}
#index .blog-container{ margin-bottom: 60px;}

@media (max-width: 991px) {
	#blog-category h1{	
		margin:10px 0;
	}
	.blog-video-code iframe {
		width: 100%;		
	}
}
@media (max-width: 767px) {
	.blog-detail .blog-title {
		font-size:18px;
	}
}
@media (max-width: 479px) {
	.leading-blog .blog-content-wrap {
    	padding: 15px 0;
	}
	.homeblog-inner .blog-image {
		margin-bottom: 0;
	}
	.homeblog-inner .blog-content-wrap {
		width: 100%;
		margin: 0 auto 0;
		position: relative;
		padding: 20px 0 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	#index .blog-container {
		margin-bottom: 20px;
	}
}
