/* Css for category cms start */
#pst_categorycmsblock {
    margin: 0 0 60px 0;
    z-index: 2;
    position: relative;
    overflow: hidden;
}
.categorycmsblock-inner {
    margin: 0;
}
#pst_categorycmsblock .cat-item{
	display:inline-block;
	vertical-align:top;
}
.cat-item-inner {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
}
#pst_categorycmsblock .cat-item .cat-img img{
	max-width:100%;
	height:auto;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	-ms-transition-duration: 500ms;
	-o-transition-duration: 500ms;
}
.pst-sub-cat-item-inner{
	position:relative;
	overflow: hidden;
}
.cat-details{
    position: absolute;
    top: 30%;
    left: 30px;
    right: 0;
    bottom: auto;
    text-transform: capitalize;
    color: #000000;
    text-align: left;
    margin: 0 auto;
    display: block;
    font-weight: 600;
	font-size: 27px;
    line-height: 27px;
}

#pst_categorycmsblock .cat-name{
    display: block;
    margin-bottom: 5px;
	transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}
#pst_categorycmsblock .cat-item:hover .cat-name {
    color: rgba(40, 129, 227,1);
	transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}
#pst_categorycmsblock .cat-desc{
    display: block;
	margin-bottom: 25px;
}
#pst_categorycmsblock .cat-btn{
	font-size: 14px;
    line-height: 24px;
	padding:10px 20px;
	background-color:#2881E3;
	color:#ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	text-transform: uppercase;
	transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}
#pst_categorycmsblock .cat-btn:hover{
	background-color:#000000;
	color:#ffffff;
	transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}
#pst_categorycmsblock .pst-sub-cat-item {
    float: left;
}
#pst_categorycmsblock .cat-item .cat-img{display:block;position:relative;}

#pst_categorycmsblock .cat-item:hover .cat-img img{
	transform: scale3d(1.1,1.1,1.1);
	-webkit-transform: scale3d(1.1,1.1,1.1);
	-ms-transform:scale3d(1.1,1.1,1.1);
	-o-transform:scale3d(1.1,1.1,1.1);
	-moz-transform:scale3d(1.1,1.1,1.1);
}
@media (max-width: 1299px) {
.cat-details {
    top: 23%;
}
}
@media (max-width: 991px) {
.cat-details {
	top: 15%;
    left: 20px;
    font-size: 23px;
    line-height: 23px;
}
}
@media (max-width: 767px) {
	#pst_categorycmsblock .cat-item{
		text-align: center;
		width: 100% !important;
		margin-bottom: 20px;
	}
	#pst_categorycmsblock .cat-item:last-child{
		margin:0;
	}
	.cat-item-inner{
		display:inline-block;
		vertical-align:top;
	}
	.cat-details {
		top: 30%;
	}
}
@media (max-width: 479px) {
.cat-details {
	top: 20%;
	font-size: 18px;
	line-height: 18px;
}

}

/* Css for category cms end */