/* block top search */
#search_block_top {
	position:absolute;
	right: 26%;
    top: 34px;
}
#search_block_top p {padding:0;}
#search_block_top #search_query_top {
	padding:0 5px;
	height:23px;
	width:300px;/* 310 */
	border:1px solid #666;
	border-right: 0 !important;
	color:#666;
	background:url(img/bg_search_input.png) repeat-x 0 0 #fff;
	float: left;
}

#search_block_top .button {
	border:none;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	background:url(img/bg_search_submit.png) repeat-x 0 0 #101010;
	float: left;
	height: 25px;
}

form#searchbox{padding-top:5px}
form#searchbox label{color:#333;margin-bottom:1px}
form#searchbox input#st_search_query_block{
	border: 1px solid #CCCCCC;
	-webkit-border-radius:3px !important;
	-moz-border-radius:3px !important;
	border-radius:3px !important;
    height: 18px;
	margin-top:10px;
}
form#searchbox input#search_button{padding: 1px 4px;}

.list-cate-wrapper
{
	position: relative;
}

.list-cate
{
	/*width: 100%;*/
	padding: 0px;
}

.cate-item
{
	display: block;
	padding: 5px 10px;
}

#stsearchtopbox a.cate-item.active, #stsearchtopbox a.cate-item:hover, #stsearchbox a.cate-item.active, #stsearchbox a.cate-item:hover {
    background: #f1f1f1;
    color: #000000;	
}

#dropdownListCate, #dropdownListCateTop {
	cursor: pointer;
    display: block;
    padding: 11px 30px;
    color: #000000;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    line-height: 26px;
    border-right: 1px solid rgb( 230, 230, 230 );
}

#stsearchtopbox #dropdownListCateTop:hover, #stsearchbox #dropdownListCate:hover
{
	color: #2881E3;
}
.st_search_block_top .product_search{
	float:left;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	background-color: rgb( 255, 255, 255 );
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: rgb( 230, 230, 230 );
	-moz-box-shadow: inset 6px 3px 10px -5px rgb( 230, 230, 230 );
	-webkit-box-shadow: inset 6px 3px 10px -5px rgb( 230, 230, 230 );
	box-shadow: inset 6px 3px 10px -5px rgb( 230, 230, 230 );
}
.st_search_block_top #st_search_top_button{
    float: left;
    height: 50px;
    width: 70px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    color: #000000;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: rgb( 230, 230, 230 );
	-moz-box-shadow: inset -6px 3px 10px -5px rgb( 230, 230, 230 );
    -webkit-box-shadow: inset -6px 3px 10px -5px rgb( 230, 230, 230 );
    box-shadow: inset -6px 3px 10px -5px rgb( 230, 230, 230 );
}
.st_search_block_top #st_search_top_button:hover{
	color: #2881E3;
}
.st_search_block_top #st_search_top_button span i.material-icons.search{
    border-left: 1px solid rgb( 230, 230, 230 );
    padding: 0 0 0 10px;
}
.st_search_block_top .list-cate-wrapper{
	float:left;
}
.st_search_block_top .search_query{
	overflow:hidden;
}
.st_search_block_top{
    margin-top: 2px;
	display: inline-block;
    vertical-align: top;
}
.st_search_block_top .form-control{
    padding: 12px 10px;
    width: 330px;
    float: left;
    border: none;
    background: transparent;
}
.st_search_block_top .form-control:focus,.st_search_block_top .form-control:hover{
}
.st_search_block_top .dropdown-menu{
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 280px;
    width: 250px;
    border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
	-khtml-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
    top: 50px;
}
.st_search_block_top #dropdownListCateTop i.material-icons {
    display: none;
}
.st_search_block_top #dropdownListCateTop:after {
	content: '\f0dd';
    font-family: 'FontAwesome';
    font-size: 15px;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top;
    height: 13px;
    width: 13px;
    line-height: 10px;
}
@media (max-width: 1299px){
.st_search_block_top .form-control {
    width: 200px;
}
}
@media (max-width: 991px){
.st_search_block_top {
    margin-top: 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
	float: none;
}
}
@media (max-width: 767px){
	.st_search_block_top .product_search {
		border: none;
		border-radius: unset;
		-webkit-border-radius: unset;
		-khtml-border-radius:unset;
		-moz-border-radius: unset;
		box-shadow: none;
		-webkit-box-shadow: none;
		-khtml-box-shadow: none;
		-moz-box-shadow: none;
		background: transparent;
	}
	#dropdownListCate, #dropdownListCateTop{
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	.st_search_block_top .form-control,.st_search_block_top .list-cate-wrapper,.st_search_block_top{
		width:100%;
		text-align:center;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	.st_search_block_top form#stsearchtopbox{
		display: inline-block;
		vertical-align: top;
		position: relative;
	}
	.st_search_block_top #st_search_top_button {		
		position: absolute;
		right: 0;
		bottom: 0;
		left:auto;
		top:auto;
	    height: 48px;
		border: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		-khtml-box-shadow: none;
		-moz-box-shadow: none;
	}
	.st_search_block_top .form-control {
		padding: 12px 60px 12px 10px;
		background: #ffffff;
	}
	#dropdownListCateTop {
		margin-bottom: 5px;
		background: #ffffff;
	}
	.st_search_block_top .dropdown-menu {
		top: 44px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
	}
}